/* GENERAL SETTINGS --- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
button,
input[type='submit'],
input[type='reset'] {
	background: none;
	text-decoration: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
	user-select: none;
	cursor: pointer;
}

/* EFFECTS --- */

.blink {
	animation: blink 1s linear infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.shadow {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	overflow: hidden;
}

.frosted {
	position: relative;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}

.frosted:before {
	content: '';
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
	filter: blur(10px);
	margin: -20px;
}

.fade {
	animation: fade 1s;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.page,
.project-item,
.edu,
.pro {
	animation: fade 1s;
}

/* FONTS, SIZES, & COLORS --- */

/* Color converter for .png images https://codepen.io/sosuke/pen/Pjoqqp */

.btn-icon {
	/* White */
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(25deg) brightness(100%)
		contrast(100%);
}

.media-btn {
	/* Color 2 */
	filter: invert(7%) sepia(25%) saturate(7274%) hue-rotate(232deg)
		brightness(87%) contrast(120%);
}

.media-btn:hover {
	/* Color 1 */
	filter: invert(82%) sepia(36%) saturate(6310%) hue-rotate(110deg)
		brightness(99%) contrast(101%);
}

:root {
	--color1: #00e599;
	--color2: #000033;
	--color3: #f4f9fa;
	--color4: #f0f5f6;
	--color5: #fff;
	--font: 'Abel', sans-serif;
}

body {
	background-color: var(--color3);
	color: var(--color2);
	font-family: var(--font);
}

.header a,
.header button {
	font-size: 1.25rem;
}

.blink {
	font-size: 1.2rem;
	padding-right: 8px;
}

h1 {
	font-size: 3rem;
	line-height: 4rem;
	margin: 5px 0;
}

h2 {
	font-size: 2rem;
	line-height: 2.5rem;
	margin: 5px 0;
}

h3 {
	font-size: 1.5rem;
	font-weight: 100;
	line-height: 2rem;
	margin: 5px 0;
}

h4 {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 900;
	margin: 5px 0;
}

p {
	font-size: 1rem;
	line-height: 1.25rem;
	margin: 10px 0;
}

.footer a {
	font-size: 0.85rem;
}

/* BUTTON SIZES & STYLES --- */

.btn {
	font-size: 1rem;
	background-color: var(--color1);
	color: var(--color5);
	padding: 15px 25px;
	padding-right: 35px;
	margin-right: 10px;
	box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
}

.btn:hover {
	background-color: var(--color2);
}

.btn-icon {
	width: 1.25rem;
	padding-right: 5px;
}

.media-btn {
	background-size: cover;
	width: 35px;
	height: 35px;
	margin: 5px;
}

input[type='submit'] {
	font-size: 1rem;
	width: 150px;
	background-color: var(--color1);
	color: var(--color5);
}

/* HEADER & FOOTER --- */

.header,
.footer {
	background-color: var(--color3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	height: 75px;
}

.nav {
	color: var(--color2);
	display: flex;
	text-align: center;
}

.footer-nav {
	display: flex;
}

.blink {
	color: var(--color1);
}

.logo,
.nav-item,
.nav-btn,
.copyright,
.footer-item {
	padding: 10px 25px;
}

.logo:hover,
.nav-item:hover,
.copyright:hover,
.footer-item:hover {
	color: var(--color1);
}

.nav-btn {
	background-color: var(--color3);
	transform: rotate(-180deg);
}

.nav-btn--hide {
	display: none;
}

/* BACKGROUND, TAB, & PAGE SETTINGS --- */

.bg-box {
	position: absolute;
	width: 100%;
	height: calc(100vh - 150px);
	z-index: -5;
	display: flex;
}

.bg1 {
	background-color: var(--color3);
	width: calc(50% - 175px - 30px);
	height: 100%;
}

.bg2 {
	background-color: var(--color4);
	width: calc(100% - (50% - 175px - 30px));
	height: 100%;
}

[data-tab-content] {
	display: none;
}

.tab--active[data-tab-content] {
	display: block;
}

.tab {
	width: 80%;
	height: calc(100vh - 150px - 30px);
	min-height: 500px;
	margin: 15px auto;
}

.page {
	display: flex;
	height: 100%;
}

.page-title {
	width: calc(50% - 175px - 30px);
	text-align: right;
	padding: 25px 35px;
}

.page-nav {
	padding: 10px 10px;
}

.page-content {
	width: calc(100% - (50% - 175px - 30px));
	padding: 25px 40px;
	overflow-y: auto;
	word-wrap: break-word;
}

/* TAB 0 (HOME) --- */

.home {
	width: 50%;
	padding: 30px;
}

.home1 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.photo-me {
	width: 350px;
	border-radius: 50%;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	padding: 15px;
}

.home2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home p {
	max-width: 400px;
}

.home-btns {
	display: flex;
	padding: 5px 0;
}

.media-btns {
	display: flex;
	padding: 5px 0;
}

/* TAB 1 (PROJECT) --- */

.pro-tab {
	color: var(--color2);
}

.pro-tab--active {
	color: var(--color1);
}

.pro {
	display: none;
	padding-bottom: 25px;
}

.pro--active {
	display: block;
}

.project-images {
	width: 100%;
	overflow: scroll;
	display: flex;
	margin: 10px 0;
}

.project-image {
	width: 45%;
	padding-right: 10px;
}

.project-btns {
	display: flex;
	margin-bottom: 15px;
}

/* TAB 2 (EDUCATION) --- */
.edu-tab {
	color: var(--color2);
}

.edu-tab--active {
	color: var(--color1);
}

.edu {
	display: none;
}

.edu--active {
	display: block;
}

.education-item {
	padding: 15px 0;
	border-bottom: 5px solid var(--color2);
}

/* TAB 3 (CONTACT) --- */

.contact-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.contact-form--50-wide {
	display: flex;
}

.contact-form--100-wide {
	display: flex;
	flex-direction: column;
}

.contact-form #name,
.contact-form #email,
.contact-form #subject,
.contact-form #message {
	border: none;
	border-bottom: 2px solid var(--color2);
	background-color: var(--color5);
	font-family: var(--font);
	font-size: 1rem;
	width: 100%;
	padding: 10px 5px;
	margin: 15px 0px;
}

.contact-form #name {
	margin-right: 15px;
}

.contact-form #message {
	resize: vertical;
}

.contact-form #submit {
	margin-top: 10px;
}

/* TAB 4 (PRIVACY POLICY) --- */

/* TAB 5 (SITE MAP) --- */

/* MEDIA (LARGE SCREEN) --- */

@media only screen and (min-width: 1750px) {
	.header a,
	.header button {
		font-size: 1.75rem;
	}

	.blink {
		font-size: 1.65rem;
		padding-right: 8px;
	}

	h1 {
		font-size: 4rem;
		line-height: 5rem;
		margin: 10px 0;
	}

	h2 {
		font-size: 3rem;
		line-height: 3.5rem;
		margin: 10px 0;
	}

	h3 {
		font-size: 2rem;
		line-height: 2.5rem;
		font-weight: 100;
		margin: 10px 0;
	}

	h4 {
		font-size: 1.25rem;
		line-height: 1.755rem;
		font-weight: 900;
		margin: 10px 0;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.5rem;
		margin: 15px 0;
	}

	.footer a {
		font-size: 1.15rem;
	}

	.btn {
		font-size: 1.25rem;
		padding: 20px 35px;
		padding-right: 50px;
		margin-right: 10px;
	}

	.btn-icon {
		width: 1.5rem;
		padding-right: 5px;
	}

	.media-btn {
		width: 55px;
		height: 55px;
		margin: 10px 5px;
	}

	input[type='submit'] {
		font-size: 1.25rem;
		width: 225px;
	}

	.header,
	.footer {
		height: 100px;
	}

	.bg-box {
		height: calc(100vh - 200px);
	}

	.bg1 {
		width: calc(50% - 250px - 30px);
	}

	.bg2 {
		width: calc(100% - (50% - 250px - 30px));
	}

	.tab {
		height: calc(100vh - 200px - 30px);
		min-height: 500px;
	}

	.page-title {
		width: calc(50% - 250px - 30px);
		padding: 60px;
	}

	.page-content {
		width: calc(100% - (50% - 250px - 30px));
		padding: 60px;
	}

	.photo-me {
		width: 500px;
		padding: 25px;
	}

	.home p {
		max-width: 500px;
	}

	.project-image {
		width: 65%;
	}

	.contact-form #name,
	.contact-form #email,
	.contact-form #subject,
	.contact-form #message {
		font-size: 1.25rem;
		padding: 15px 5px;
		margin: 15px 0px;
	}

	.contact-form #name {
		margin-right: 15px;
	}

	.contact-form #submit {
		margin-top: 15px;
	}
}
