/* LOGIC --- */

[data-tab-content] {
	display: none;
}

.tab--active[data-tab-content] {
	display: block;
}

[data-foot-content] {
	display: none;
}

.foot--active[data-foot-content] {
	display: block;
}

/* GENERAL SETTINGS --- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
button,
input[type='submit'],
input[type='reset'] {
	background: none;
	text-decoration: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media only screen and (max-width: 975px) {
	.btn1,
	.btn2 {
		margin-right: 0px;
		padding: 15px 50px;
	}
}

/* FONTS --- */

body {
	font-family: 'Abel', sans-serif;
}

.header a,
.header button {
	font-size: 1.25rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

.footer a {
	font-size: 0.85rem;
}

/* COLORS --- */

body {
	color: #000033;
}

body,
.header,
.footer,
.bg1,
.nav-btn {
	background-color: #f4f9fa;
}

.bg2 {
	background-color: #f0f5f6;
}

.nav {
	background-color: #00e599;
	color: #fff;
}

.btn1,
.btn2 {
	background-color: #00e599;
	color: #fff;
}

/* Color converter for .png images https://codepen.io/sosuke/pen/Pjoqqp */
.social-btn {
	filter: invert(7%) sepia(25%) saturate(7274%) hue-rotate(232deg)
		brightness(87%) contrast(120%);
}

.social-btn:hover {
	filter: invert(82%) sepia(36%) saturate(6310%) hue-rotate(110deg)
		brightness(99%) contrast(101%);
}

@media only screen and (max-width: 975px) {
	.nav {
		background-color: #000033;
		opacity: 98%;
	}
}

/* EFFECTS --- */

.nav-item:hover,
.btn1:hover,
.btn2:hover {
	background-color: #000033;
}

@media only screen and (max-width: 975px) {
	.nav-item:hover {
		background-color: #00e599;
	}
}

.shadow {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	overflow: hidden;
}

.frosted {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}

.frosted:before {
	content: '';
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
	filter: blur(10px);
	margin: -20px;
}

/* HEADER --- */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0px;
	margin: 0 10%;
}

.logo-btn {
	padding: 20px 0;
	padding-right: 25px;
}

.nav {
	display: flex;
}

.logo-btn,
.nav-item,
.nav-btn {
	padding: 20px 25px;
}

.nav-btn {
	transform: rotate(-180deg);
}

.nav-btn--hide {
	display: none;
}

/* MOBILE HEADER --- */

@media only screen and (max-width: 975px) {
	.header {
		padding: 15px 0px;
		margin: 0 5%;
	}

	.logo-btn {
		padding: 5px 10px;
	}

	.nav-btn {
		display: block;
		z-index: 20;
		padding: 10px 15px;
	}

	.nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 15rem 0;
		z-index: 10;
	}

	.nav-item {
		width: 100%;
		padding: 25px 0;
	}

	.nav--mobile {
		display: none;
	}
}

/* MAIN --- */

.main {
	position: relative;
}

.bg-box {
	display: flex;
}

.bg1 {
	width: 25%;
	height: 75vh;
	z-index: -5;
}

.bg2 {
	width: 75%;
	height: 75vh;
	z-index: -5;
}

.tab-content-box {
	position: absolute;
	top: 6%;
	height: 88%;
	left: 10%;
	width: 60%;
	z-index: 5;
	display: flex;
}

.content1 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px 20px;
}

.photo-me {
	height: 300px;
	border-radius: 50%;
	z-index: 50;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.content2 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: left;
	padding: 75px 20px;
}

.btn-box {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.btn1,
.btn2 {
	margin-right: 15px;
	padding: 15px 30px;
	box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
}

.side-content-box {
	position: absolute;
	top: 6%;
	height: 88%;
	right: 10%;
	width: 10%;
	z-index: 5;
}

.social-btns {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

.social-btn {
	background-size: cover;
	width: 35px;
	height: 35px;
	margin: 15px;
}

/* MAIN --- PAGE TEMPLATE */

.tab {
	overflow-y: auto;
	padding: 25px 15px;
}

@media only screen and (max-width: 975px) {
	.tab {
		padding: 15px 10px;
	}
}

/* MOBILE MAIN --- */

@media only screen and (max-width: 975px) {
	.bg-box {
		flex-direction: column;
	}

	.bg1 {
		width: 100%;
		height: 15vh;
	}

	.bg2 {
		width: 100%;
		height: 75vh;
	}

	.tab-content-box {
		flex-direction: column;
		top: 0%;
		height: 80%;
		left: 5%;
		width: 90%;
	}

	.content1,
	.content2 {
		width: 100%;
	}

	.btn-box {
		margin-top: 20px;
		justify-content: space-evenly;
	}

	.content2 {
		align-items: center;
		text-align: center;
		padding: 20px 20px;
	}

	.photo-me {
		height: 175px;
		margin-bottom: 25px;
	}

	.side-content-box {
		top: 85%;
		height: 10%;
		left: 5%;
		width: 90%;
	}

	.social-btns {
		flex-direction: row;
		width: 100%;
	}
}

/* FOOTER --- */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9.5vh;
	padding: 20px 0px;
	margin: 0 10%;
}

.copyright,
.footer-item {
	padding: 15px 25px;
}

@media only screen and (max-width: 975px) {
	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 8vh;
		padding: 15px 0px;
		margin: 0 5%;
	}

	.copyright,
	.footer-item {
		padding: 5px 10px;
	}
}
