/* GENERAL SETTINGS --- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Abel', sans-serif;
}

a,
button,
input[type='submit'],
input[type='reset'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	text-decoration: none;
}

.header a,
.header button {
	font-size: 1.25rem;
}

.btn1,
.btn2 {
	margin-right: 15px;
	padding: 15px 30px;
	box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
}

#btn--upwork,
#btn--linkedin,
#btn--github,
#btn--codepen {
	background-size: cover;
	width: 35px;
	height: 35px;
}

#btn--upwork {
	background-image: url('assets/icon-upwork-rd.png');
}

#btn--linkedin {
	background-image: url('assets/icon-linkedin-rd.png');
}

#btn--github {
	background-image: url('assets/icon-github-rd.png');
}

#btn--codepen {
	background-image: url('assets/icon-codepen-rd.png');
}

@media only screen and (max-width: 975px) {
	.btn1,
	.btn2 {
		margin-right: 0px;
		padding: 15px 50px;
	}
}

/* FONTS --- */

.header a,
.header button {
	font-size: 1.25rem;
	color: #026670;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

.footer a {
	font-size: 0.85rem;
	color: #026670;
}

.panel--large h1,
.panel--large h2,
.panel--large p,
.panel--large button {
	color: #026670;
}

/* COLORS --- */

body,
.header,
.footer,
.bg1,
.btn1,
.btn2 {
	background-color: #fef9c7;
}

.bg2 {
	background-color: #fce181;
}

.panel--large,
.panel--small {
	background-color: #026670;
}

.nav--mob--bg {
	background-color: none;
}

@media only screen and (max-width: 975px) {
	.nav--mob--bg {
		background-color: #fef9c7;
		opacity: 98%;
	}
}

/* EFFECTS --- */

#shadow {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	overflow: hidden;
}

#frosted {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}

#frosted:before {
	content: '';
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
	filter: blur(10px);
	margin: -20px;
}

/* HEADER --- */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0px;
	margin: 0 10%;
}

.nav {
	display: flex;
	padding: 0 10px;
}

.logo {
	padding: 15px 0px;
}

.nav-item,
.nav-btn {
	padding: 20px 25px;
}

.nav-btn {
	transform: rotate(-180deg);
}

.hide {
	display: none;
}

/* MOBILE HEADER --- */

@media only screen and (max-width: 975px) {
	.header {
		padding: 15px 0px;
		margin: 0 5%;
	}

	.logo {
		padding: 10px 0px;
	}

	.nav-btn {
		display: block;
		z-index: 20;
		padding: 10px 15px;
	}

	.nav--mob {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}

	.nav-item {
		padding: 35px 50px;
	}

	.toggle {
		display: none;
	}
}

/* MAIN --- */

.main {
	position: relative;
}

.bg-box {
	display: flex;
}

.bg1 {
	width: 25%;
	height: 75vh;
	z-index: -5;
}

.bg2 {
	width: 75%;
	height: 75vh;
	z-index: -5;
}

.panel--box {
	display: flex;
}

.panel--large {
	position: absolute;
	top: 6%;
	height: 88%;
	left: 10%;
	width: 60%;
	z-index: 5;
	display: flex;
}

.content1 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px 20px;
}

.photo-me {
	height: 300px;
	border-radius: 50%;
	z-index: 50;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.btn-box {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.content2 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: left;
	padding: 75px 20px;
}

.panel--small {
	position: absolute;
	top: 6%;
	height: 88%;
	right: 10%;
	width: 10%;
	z-index: 5;
}

.network-links {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

/* MOBILE MAIN --- */

@media only screen and (max-width: 975px) {
	.bg-box {
		flex-direction: column;
	}

	.bg1 {
		width: 100%;
		height: 15vh;
	}

	.bg2 {
		width: 100%;
		height: 75vh;
	}

	.panel--large {
		flex-direction: column;
		top: 0%;
		height: 80%;
		left: 5%;
		width: 90%;
	}

	.content1,
	.content2 {
		width: 100%;
	}

	.btn-box {
		margin-top: 20px;
		justify-content: space-evenly;
	}

	.content2 {
		align-items: center;
		text-align: center;
		padding: 20px 20px;
	}

	.photo-me {
		height: 175px;
		margin-bottom: 25px;
	}

	.panel--small {
		top: 85%;
		height: 10%;
		left: 5%;
		width: 90%;
	}

	.network-links {
		flex-direction: row;
		width: 100%;
	}
}

/* FOOTER --- */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9.5vh;
	padding: 20px 0px;
	margin: 0 10%;
}

.copyright {
	padding: 15px 0px;
}
.foot-link {
	padding: 15px 0px 15px 25px;
}

@media only screen and (max-width: 975px) {
	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 8vh;
		padding: 15px 0px;
		margin: 0 5%;
	}

	.copyright,
	.foot-link {
		padding: 5px 10px;
	}
}
