/* LOGIC --- */

[data-tab-content] {
	display: none;
}

.tab--active[data-tab-content] {
	display: block;
}

/* GENERAL SETTINGS --- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
button,
input[type='submit'],
input[type='reset'] {
	background: none;
	text-decoration: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
	user-select: none;
	cursor: pointer;
}

:root {
	--color1: #00e599;
	--color2: #000033;
	--color3: #f4f9fa;
	--color4: #f0f5f6;
	--color5: #fff;
}

/* Color converter for .png images https://codepen.io/sosuke/pen/Pjoqqp */

.btn-icon {
	/* White */
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(25deg) brightness(100%)
		contrast(100%);
}

.social-btn {
	/* Color 2 */
	filter: invert(7%) sepia(25%) saturate(7274%) hue-rotate(232deg)
		brightness(87%) contrast(120%);
}

.social-btn:hover {
	/* Color 1 */
	filter: invert(82%) sepia(36%) saturate(6310%) hue-rotate(110deg)
		brightness(99%) contrast(101%);
}

/* FONTS & SIZES --- */

body {
	background-color: var(--color3);
	color: var(--color2);
	font-family: 'Abel', sans-serif;
}

.header a,
.header button {
	font-size: 1.25rem;
}

flash-icon {
	font-size: 1.2rem;
	padding-right: 10px;
}

h1 {
	font-size: 3rem;
	line-height: 4rem;
	margin-top: 10px;
}

h2 {
	font-size: 2rem;
	line-height: 2.75rem;
}

p {
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 10px 0;
	margin-bottom: 30px;
}

.btn {
	font-size: 1rem;
}

.btn-icon {
	width: 1.25rem;
}

.footer a {
	font-size: 0.85rem;
}

@media only screen and (max-width: 1050px) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	p {
		font-size: 0.9rem;
	}

	.btn {
		font-size: 0.9rem;
	}

	.btn-icon {
		width: 1rem;
	}
}

@media only screen and (min-width: 1800px) {
	.header a,
	.header button {
		font-size: 1.75rem;
	}

	flash-icon {
		font-size: 1.75rem;
		padding-right: 10px;
	}

	h1 {
		font-size: 3.5rem;
		line-height: 4.5rem;
		margin-top: 10px;
	}

	h2 {
		font-size: 2.5rem;
		line-height: 2.25rem;
	}

	p {
		font-size: 1.5rem;
		line-height: 1.75rem;
		margin: 10px 0;
		margin-bottom: 30px;
	}

	.btn {
		font-size: 1.5rem;
	}

	.btn-icon {
		width: 1.75rem;
	}

	.footer a {
		font-size: 1.25rem;
	}
}

@media only screen and (min-width: 650px) and (max-width: 1050px) {
	.header a,
	.header button {
		font-size: 2rem;
	}

	flash-icon {
		font-size: 2rem;
		padding-right: 10px;
	}

	h1 {
		font-size: 4.5rem;
		line-height: 5.5rem;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	h2 {
		font-size: 3.5rem;
		line-height: 3.25rem;
		margin-bottom: 25px;
	}

	p {
		font-size: 1.75rem;
		line-height: 2rem;
		margin: 10px 0;
		margin-bottom: 50px;
	}

	.btn {
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.btn-icon {
		width: 2.25rem;
	}

	.footer a {
		font-size: 1.5rem;
	}
}

/* EFFECTS --- */

.flash {
	animation: flash 1s linear infinite;
}

@keyframes flash {
	50% {
		opacity: 0;
	}
}

.shadow {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	overflow: hidden;
}

.frosted {
	position: relative;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}

.frosted:before {
	content: '';
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
	filter: blur(10px);
	margin: -20px;
}

/* HEADER --- */

.header {
	background-color: var(--color3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10%;
}

.nav {
	background-color: var(--color1);
	color: #fff;
	display: flex;
	text-align: center;
}

.header flash-icon {
	color: var(--color1);
}

.logo,
.nav-item,
.nav-btn {
	padding: 15px 25px;
}

.logo:hover {
	color: var(--color1);
}

.nav-item:hover {
	background-color: var(--color2);
}

.nav-btn {
	background-color: var(--color3);
	transform: rotate(-180deg);
}

.nav-btn--hide {
	display: none;
}

/* MOBILE HEADER --- */

@media only screen and (max-width: 1050px) {
	.header {
		padding: 10px 5%;
		margin-top: 3px;
	}

	.nav {
		background-color: var(--color2);
		opacity: 95%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 15rem 0;
		z-index: 10;
		overflow-y: hidden;
	}

	.logo {
		padding: 5px 10px;
	}

	.nav-btn {
		display: block;
		z-index: 20;
		padding: 10px 15px;
	}

	.nav-item {
		width: 100%;
		padding: 25px 0;
	}

	.nav-item:hover {
		background-color: var(--color1);
	}

	.nav--mobile {
		display: none;
	}
}

@media only screen and (min-width: 650px) and (max-width: 1050px) {
	.header {
		padding: 10px 5%;
		margin-top: 10px;
	}

	.logo,
	.nav-item,
	.nav-btn {
		padding: 15px 25px;
	}

	.nav {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 25rem 0;
	}
}

/* BACKGROUND & TAB CONTENT --- */

.main {
	position: relative;
}

.home-bg-box {
	position: absolute;
	top: -15px;
	left: 0px;
	width: 100%;
	height: calc(100vh - 150px);
	min-height: 545px;
	display: flex;
}

.home-bg1 {
	background-color: var(--color3);
	width: calc(10% + 40% - 2.5% - 175px - 1.45%);
	z-index: -5;
}

.home-bg2 {
	background-color: var(--color4);
	width: calc(100% - (10% + 40% - 2.5% - 175px - 1.45%));
	z-index: -5;
}

.page {
	width: 80%;
	height: calc(100vh - 195px);
	min-height: 500px;
	margin: 15px auto;
	display: flex;
}

.page-title {
	width: calc(25% * 0.75);
	text-align: right;
	padding: 25px;
}

.page-content {
	width: calc(100% - calc(25% * 0.75));
	padding: 25px;
	padding-bottom: 50px;
	overflow-y: auto;
}

@media only screen and (max-width: 1050px) {
	.home-bg-box {
		position: absolute;
		top: -12.5px;
		height: 650px;
		flex-direction: column;
	}

	.home-bg1 {
		width: 100%;
		height: calc(12.5px + 112.5px + 25px);
	}

	.home-bg2 {
		width: 100%;
		height: calc(100% - (12.5px + 112.5px + 25px));
	}

	.page {
		width: 90%;
		height: fit-content;
		min-height: calc(100vh - 195px);
		margin: 10px auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.page-title {
		width: 100%;
		text-align: left;
		padding: 25px;
	}

	.page-content {
		width: 100%;
		padding: 25px;
		overflow-y: auto;
	}
}

@media only screen and (min-width: 650px) and (max-width: 1050px) {
	.home-bg1 {
		background-color: var(--color3);
	}

	.home-bg2 {
		background-color: var(--color3);
	}
}

@media only screen and (min-width: 1800px) {
	.home-bg-box {
		min-height: 785px;
	}

	.home-bg1 {
		width: calc(10% + 40% - 2.5% - 225px - 1.45%);
	}

	.home-bg2 {
		width: calc(100% - (10% + 40% - 2.5% - 225px - 1.45%));
	}
	.page {
		height: calc(100vh - 215px);
		min-height: 750px;
	}
}

/* PAGE GENERAL --- */

.page-bg-box {
	position: absolute;
	top: -15px;
	left: 0px;
	width: 100%;
	display: flex;
}

.page-bg1 {
	background-color: var(--color3);
	width: 25%;
	z-index: -5;
}

.page-bg2 {
	background-color: var(--color4);
	width: 75%;
	z-index: -5;
}

@media only screen and (max-width: 1050px) {
	.page-bg-box {
		position: absolute;
		top: -12.5px;
		height: 650px;
		flex-direction: column;
	}

	.page-bg1 {
		width: 100%;
		height: 100px;
	}

	.page-bg2 {
		width: 100%;
		height: 5px;
	}
}

/* TAB 0 (HOME PAGE) --- */

.home1 {
	width: 50%;
	min-height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 5%;
}

.photo-me {
	width: 350px;
	border-radius: 50%;
	z-index: 50;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	padding: 15px;
}

.home2 {
	width: 50%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.home-content-box {
	margin-top: 25px;
}

.about-me {
	max-width: 475px;
	padding-right: 50px;
}

.btn-icon {
	padding-right: 5px;
}

.btn {
	background-color: var(--color1);
	color: var(--color5);
	padding: 15px 25px;
	padding-right: 35px;
	box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0px;
}

.btn:hover {
	background-color: var(--color2);
}

.social-btn-box {
	margin: 30px 0;
}

.social-btn {
	background-size: cover;
	width: 35px;
	height: 35px;
	margin: 5px;
}

@media only screen and (max-width: 1050px) {
	.home1 {
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 25px 5%;
		padding-bottom: 0px;
	}

	.photo-me {
		width: 225px;
	}

	.home2 {
		width: 100%;
		padding: 0 5%;
	}

	.home-content-box {
		margin-top: 0px;
		text-align: center;
	}

	.about-me {
		padding-right: 0px;
		margin: auto;
	}
}

@media only screen and (min-width: 1800px) {
	.photo-me {
		width: 450px;
	}

	.about-me {
		max-width: 675px;
	}

	.social-btn {
		width: 55px;
		height: 55px;
	}
}

@media only screen and (min-width: 650px) and (max-width: 1050px) {
	.photo-me {
		width: 450px;
	}

	.about-me {
		max-width: 675px;
	}

	.social-btn-box {
		margin: 50px 0;
	}

	.social-btn {
		width: 65px;
		height: 65px;
	}

	.btn {
		padding: 25px 45px;
		padding-right: 65px;
		box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
		border-radius: 0px;
	}
}

/* TAB 1 (ABOUT) --- */

/* TAB 3 (PROJECTS) --- */

.project-control-box {
	position: absolute;
	top: 40px;
	right: 50px;
}

.project {
	display: none;
}

.project--active {
	display: block;
}

.image-box {
	width: 100%;
	overflow: scroll;
	display: flex;
}

.project-image {
	width: 60%;
	padding-right: 5px;
}

@media only screen and (max-width: 1050px) {
	.page3 {
		background-color: var(--color3);
		width: 100%;
		margin: 10px 0;
		padding: 15px 15px;
		overflow-y: scroll;
	}

	.project-control-box {
		position: absolute;
		top: 25px;
		right: 15px;
	}

	.page-title-box {
		width: 100%;
		text-align: left;
		padding: 10px 15px;
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
	}

	.project-image {
		width: 85%;
	}
}

/* FOOTER --- */

.footer {
	background-color: var(--color3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10%;
}

.footer-nav {
	display: flex;
}

.copyright,
.footer-item {
	padding: 15px 25px;
}

.copyright:hover,
.footer-item:hover {
	color: var(--color1);
}

@media only screen and (max-width: 1050px) {
	.footer {
		margin: 0%;
		padding: 15px 5%;
	}

	.copyright,
	.footer-item {
		padding: 5px 10px;
	}

	.footer--hide {
		display: none;
	}
}

@media only screen and (min-width: 650px) and (max-width: 1050px) {
	.footer-item {
		padding: 5px 25px;
	}
}
